.footer-distributed {
  background: #1b1b1b; 
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;

  .footer-left,
  .footer-center,
  .footer-right {
    display: inline-block;
    vertical-align: top;
  }

  .footer-left {
    width: 40%;
  }

  .footer-left h3 {
    color: #ff7f50; 
    font: normal 36px 'Arial', sans-serif; 
    margin: 0;

    span {
      color: #00bfff; 
    }
  }

  .footer-links {
    color: #ffffff; 
    margin: 20px 0 12px;
    padding: 10px;

    a {
      display: inline-block;
      line-height: 1.8;
      font-weight: 400;
      text-decoration:solid;
      color: inherit;

      &:before {
        content: "|";
        font-weight: 300;
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
      }

      &.link-1:before {
        content: none;
      }
    }
  }

  .footer-company-name {
    color: #ccc; 
    font-size: 25px;
    font-weight:bolder;
    margin: 0;
  }

  .footer-center {
    width: 35%;
  }

  .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }

  .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;

    span {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 2;
    }

    a {
      color: #00bfff;
      text-decoration: none;
    }
  }

  .footer-right {
    width: 20%;
  }

  .footer-company-about {
    line-height: 20px;
    color: #ccc; 
    font-size: 13px;
    font-weight: normal;
    margin: 0;

    span {
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .footer-icons {
    margin-top: 25px;

    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px;
    }
  }

  @media (max-width: 880px) {
    .footer-left,
    .footer-center,
    .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }

    .footer-center i {
      margin-left: 0;
    }
  }
}
